body, html {
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    font-family:'Arial', sans-serif;
}

body {
    background-color:#FFFFFF;
}

#tcanvas {
    background-color:transparent;
    width:500px;
    height:200px;
    position:relative;
    overflow:hidden;
}

#tcanvas-outer {
    height:100%;
    position:relative;
}

#tcanvas_container {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

.runtime-frame {
    display:none;
}

#tcanvas-loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(../images/loader4.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
}

#tcanvas-loading-value {
    position:absolute;
    top:60%;
    width:100%;
    height:50px;
    text-align:center;
    color:#A7A7A7;
}

#tcanvas3d {
    background-color:transparent;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0px;
    left:0px;
}

#arduinoLogger samp {
    display: block;
}

#arduinoLogger samp:last-child {
    margin-bottom: 25px;
}

#arduinoLogger {
    position: absolute;
    top:50px;
    bottom:50px;
    right:50px;
    left:50px;
    background-color: #00979cc4;
    color: white;
    padding: 25px;
    overflow: auto;
    transition: opacity 0.4s ease
}

#toggleLogButton{
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-image: url(../images/microchip-solid.svg);
    height: 50px;
    width: 50px;
    background-size: contain;
    transform: rotate(90deg)
}

.hide-log{
    opacity: 0
}