.vscode/
client/ui/src/assets/config/declick.js
**/node_modules
**/yarn-error.log
server/vendor
server/.env
server/storage/app/projects
**.htaccess
client/ui/dist/*
client/ui/config/index.js
builder/*
**.DS_Store
client/ui/src/assets/config/declick.local.js
client/ui/src/assets/config/declick.prod.js
