<div id="tfloatingcontroller" class="ui-widget-content draggable">
  <button
    id="tfloatingcontroller-button-up"
    class="tfloatingcontroller-button"
  ></button>
  <button
    id="tfloatingcontroller-button-down"
    class="tfloatingcontroller-button"
  ></button>
  <button
    id="tfloatingcontroller-button-left"
    class="tfloatingcontroller-button"
  ></button>
  <button
    id="tfloatingcontroller-button-right"
    class="tfloatingcontroller-button"
  ></button>
  <button
    id="tfloatingcontroller-button-a"
    class="tfloatingcontroller-button"
  ></button>
  <button
    id="tfloatingcontroller-button-b"
    class="tfloatingcontroller-button"
  ></button>
</div>