{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "babel-plugin-add-module-exports",
    "babel-plugin-dynamic-import-node",
    ["@babel/plugin-proposal-decorators", { "legacy":true} ],
    "@babel/plugin-proposal-class-properties"
  ]
}